* {
  text-align: center;
}
.colorul h1 {
  color: brown;
  font-size: 32px;
  text-align: center;
}
.colorul ul {
  list-style: none;

  width: 400px;
  margin: 0 auto;
}
.colorul ul li {
  padding: 10px;
  color: white;
}
